ConsumeSuma/Connected Services/WsSuma/MyWebServicies.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://google.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://google.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://google.org/">
      <s:element name="Sumar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPost">
        <s:complexType />
      </s:element>
      <s:element name="getPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPostResult" type="tns:ArrayOfTblPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTblPost">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tblPost" nillable="true" type="tns:tblPost" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tblPost">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Imagen" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Views" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Likes" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SumarSoapIn">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="SumarSoapOut">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="getPostSoapIn">
    <wsdl:part name="parameters" element="tns:getPost" />
  </wsdl:message>
  <wsdl:message name="getPostSoapOut">
    <wsdl:part name="parameters" element="tns:getPostResponse" />
  </wsdl:message>
  <wsdl:portType name="MyWebServiciesSoap">
    <wsdl:operation name="Sumar">
      <wsdl:input message="tns:SumarSoapIn" />
      <wsdl:output message="tns:SumarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <wsdl:input message="tns:getPostSoapIn" />
      <wsdl:output message="tns:getPostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWebServiciesSoap" type="tns:MyWebServiciesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sumar">
      <soap:operation soapAction="http://google.org/Sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <soap:operation soapAction="http://google.org/getPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyWebServiciesSoap12" type="tns:MyWebServiciesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sumar">
      <soap12:operation soapAction="http://google.org/Sumar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <soap12:operation soapAction="http://google.org/getPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWebServicies">
    <wsdl:port name="MyWebServiciesSoap" binding="tns:MyWebServiciesSoap">
      <soap:address location="http://localhost:12591/MyWebServicies.asmx" />
    </wsdl:port>
    <wsdl:port name="MyWebServiciesSoap12" binding="tns:MyWebServiciesSoap12">
      <soap12:address location="http://localhost:12591/MyWebServicies.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>